.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: silver;
}

.caixa{
    width: 300px;
    height: 50px;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}
