* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    background-color: rgb(230, 230, 230);
    font-family: 'Arial';
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: black;
    box-shadow: 0 0 10px black;
    padding: 0 20px;
}

.logo {
    color: white;
    letter-spacing: -3px;
    text-transform: lowercase;
}

.logo span:first-child{
    color: #1d52ff;
}

.logo span:last-child{
    font-size: 12px;
    letter-spacing: normal;
}

.menu {
    display: flex;
}

.menu li {
    position: relative;
}

.menu li a {
    padding: 17px;
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #1d52ff;
}

.menu li:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    top: 34px;
    left: 0;
    background-color: #1d52ff;
}