body {
    background: rgb(255, 243, 222);
}

.fotoLogo {
    border: 5px solid rgb(199, 4, 46);
    border-radius: 50%;
    width: 200px;
    margin-top: 30px;
    margin-left: 50px;
}

p {
    color:rgb(58, 58, 58);
}


