* {
    margin: 0;
    padding: 0;

    font-family:Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}

body {
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.container {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

.logo {
    width: 90px;
    height: 90px;
}

h1 {
    margin-top: 15px;
    color: white;

}

h2 {
    margin-top: 8px;
    color: white;
    font-size: 22px;
}

h3 {
    margin-top: 28px;
    margin-bottom: 10px;
    color: white;
    font-size: 16px;
}

.texto {
    margin-top: 6px;
    width: 400px;
    height: 10px;
    border: none;
    border-radius: 4px;
    padding: 10px;
}

.check {  
    margin-top: 5px;
    display: flex;
    font-size: 12px;  
    text-align: center;
    color: white;
    width: 420px;
    padding: 15px;
}

button {
    margin-top: 10px;
    width: 420px;
    background-color: rgb(61, 61, 255);
    color: white;
    border-radius: 4px;
    border: none;
    padding: 10px;
}
